


/************** Typography***************/
p {
	font-size: 14px;
	line-height: 1.4em;
}
h2 {
	font-family: Microsoft New Tai Lue;
	font-size: 45px;
	text-transform: capitalize;
	font-weight: bold;
	color: yellow;
}

h3 {
	font-size: 22px;
	text-transform: capitalize;
	text-align: center;
}

h4{
	
}

h5{
	font-family: arial;
	font-size: 16px;
	color: white;
	text-transform: capitalize;
}

body, p{
	color: white;
}

.container {
	width: 98%;
	margin: auto;
	max-width: 1100px;
}


/***********************Header-area********************/

body {
	background: url('images/computer.jpg') no-repeat 0 0 / 100% 100%;
}


.header-area{
	background: #010101; 
	overflow: hidden;
	text-align: center;
	height: 204px;
}


/*************Header-top***********/
.header-top {
	overflow: hidden;
	padding: 5px 0;
}

/************logo*******/
.header-top .logo {
	float: left;
	width: 10%;
}

.header-top .logo img {
	width: 100px;
	height: auto;
	padding-top: 10px;
}


/*****************Heading***********/
.header-top .heading {
	overflow: hidden;
	width: 65%;
	color: white;
	float: left;
}

.heading h2 {
	margin-bottom: 0;
}

.heading h5 {
	margin-top: 5px;
}
/****************Search*****************/

.header-top .search {
	float: left;
	width: 25%;
	margin-top: 80px;
}

.search input {
	background: #ffffff;
	border-radius: 3px 0 0 3px;
	padding: 5px 8px;
	color: gray;
	font-size: 16px;
	border: none;
	margin-right: 0
}

.search button {
	background: #e5e0e0;
	border-radius: 0 3px 3px 0;
	padding: 5px 8px;
	color: gray;
	font-size: 16px;
	border: none;
	margin-left: -5px;
}

/************Start Header-bottom***********************/

.header-bottom {
	overflow: hidden;
	padding: 0;
	margin: 0;
}


.header-bottom marquee h4{
	color: white;
	text-transform: capitalize;
	font-size: 18px;
	
}

/**************Middle -area *************/

.middle-area {
	overflow: hidden;
	padding: 15px 0;
}


/*********************Collum 1*****************/

.col-1-3:nth-of-type(1) {
			overflow: hidden;
}

.btn {
	overflow: hidden;
	background: linear-gradient(#fddaee, #f548a4);
	padding: 12px 30px;
	border-radius: 5px;
	margin-bottom: 25px;
	text-transform: uppercase;
	text-align: center;
	transition: 1s;
	border: .5px solid gray;
}



.btn a {
	color: black;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	
}

.btn:hover {
	background: linear-gradient(#f548a4, #fddaee);
	
}

.col-1-3:nth-of-type(1) {
	width: 17%;
	float: left;
	overflow: hidden;
	margin: 0% 1%;
	padding-top: 70px;
}

.col-1-3:nth-of-type(2) {
	width: 58%;
	float: left;
	overflow: hidden;
	margin: 0% %;
}

.col-1-3:nth-of-type(3) {
	width: 20%;
	float: left;
	overflow: hidden;
	margin-left: 2%;
}

/*********************Collums 2*******************/


.col-1-3:nth-of-type(2) {
			overflow: hidden;
}


.menu {
	overflow: hidden;
	height: 150px;
}

.menu ul {
	list-style: none;
	text-align: center;
}

.menu ul li {
	display: inline;
	margin-right: 25px;
	background: green;
	border-radius: 5px;
	line-height: 40px;
	height:40px;
	width: 120px;
	position: relative;
	border: 1px solid black;
	float: left;
	transition: .5s;
	margin-bottom: 2px;

	
}

.menu ul li a {
			text-decoration: none;
			color: white;
			text-transform: capitalize;
			font-size: 15px;
}

.menu ul ul {
	position: absolute;
	display: none;
}

.menu ul li:hover >ul {
	display: block;
}

.menu ul li:hover {
	background: black;
	border: 1px solid red;
}

/*********Gallary***************/

.gallary {
	overflow: hidden;
}

.gallary h3 {
	color: red;
	font-weight: bold;
	border: 2px solid green;
	border-radius: 10px;
	letter-spacing: 5px;
	
}

.gallary img {
	width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: black 5px 8px;
	
}


/*******************collums 3***************/


.col-1-3:nth-of-type(3) {
			padding-top: 100px;
			overflow: hidden;
			text-align: center;
}


.col-1-3:nth-of-type(3) .bttn {
		
			text-align: center;
				
}

.col-1-3:nth-of-type(3) .bttn a{
			background: linear-gradient(white, #07b7f2);
			overflow: hidden;
			padding: 12px 40px;
			border-radius: 5px;
			margin-bottom: 25px;
			text-transform: uppercase;
			text-align: center;
			transition: 1s;	
			text-decoration: none;
			font-size: 25px;
			font-weight: bold;
			color: black;
			border: 1px solid black;
			transition: .5s;
}


.col-1-3:nth-of-type(3) .bttn a:hover{
			background: linear-gradient(#07b7f2, white);
			border: 1px solid red;
}


.login-area {
	overflow: hidden;
	text-align: center;
	padding-top: 30px;
}

.login-area label {
	display: block;
	text-align: center;
}


.login-area .user {
	margin-bottom: 15px;
}

.login-area .submit {
	margin-top: 5px;
	text-align: right;
}

.login-area .submit input {
	background: #5461f7;
	color: white;
	font-weight: bold;
}



.login-area input{
	text-align: center;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid black;
}

.identity {
	overflow: hidden;
	padding-top: 50px;
}

.identity .trainer h4 {
	text-transform: capitalize;
	font-weight: bold;
	color: white;
	font-size: 17px;
	margin: 3px 0;
	color: green;
}

.identity .trainer p {
	text-transform: capitalize;
	font-weight: normal;
	color: white;
	font-size: 13px;
	margin-top: 0;
}

.identity .manager  {
	overflow: hidden;
	margin-top: 30px;
}

.identity .manager img  {
	width: 160px;
	height: auto;
	border: 1px solid white;
	border-radius: 2px;
}




.identity .manager h4  {
	text-transform: capitalize;
	font-weight: bold;
	color: white;
	font-size: 17px;
	margin: 3px 0;
	color: green;
}


.identity .manager p {
	text-transform: capitalize;
	font-weight: normal;
	color: white;
	font-size: 13px;
	margin-top: 0;
}